<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="touch_for_foodEntities" connectionString="metadata=res://*/Models.touch_for_food.csdl|res://*/Models.touch_for_food.ssdl|res://*/Models.touch_for_food.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=touch_for_food;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>