@model TouchForFood.Models.item
@using TouchForFood.App_GlobalResources

<div class="one-third column">

    <div>
        <h4 class="main-green go-left">@Model.name&nbsp;&nbsp;</h4>
    </div>

    <div class="clear"></div>

    <div class="italic">@Html.DisplayFor(model => model.description)</div>
    
</div>

@if (!String.IsNullOrEmpty(Model.image_url))
{
<div class="one-third column">
    <div class="spacer20"></div>
    <div style="width:280px; height:260px;">
        <img src="@Url.Content(Model.image_url)" alt="image" style="max-height:260px; max-width:280px;" />
    </div>
    <div class="spacer20"></div>
</div>
}