@{
    ViewBag.Title = "Home";
}

<!--<h2>@ViewBag.Message</h2>-->

<div class="one-third column">&nbsp;</div>
<div class="home-page one-third column">&nbsp;<img src="../../Content/images/TFFlogo.png" class="center home-bg-img" alt="image" /></div>
<div class="clear"></div>