@model TouchForFood.Models.friendship
@using TouchForFood.App_GlobalResources

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>friendship</legend>

    <div class="display-label">user</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user.username)
    </div>

    <div class="display-label">user1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user1.username)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
