@using TouchForFood.App_GlobalResources

<div class="sixteen columns"> 
    <h3 class="main-green go-left">Available Reports</h3>

</div>

@Html.ActionLink("Most Popular Dish", "GenerateMostPopularDishReport", null, null)<br />

@Html.ActionLink("Waiter Stats", "GenerateWaiterStatsReport", null, null)<br />