@model TouchForFood.Models.category
@using TouchForFood.App_GlobalResources

@{
    ViewBag.Title = "Delete";
}

<div class="one-third column">&nbsp;</div>

<div class="one-third column">

    <h3 class="main-green">Category Deleting...</h3>
    <h5 class="main-blue">Are you sure you want to delete this category?</h5>
    
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.name)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }

</div>